/* Main colors */
:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --links-text-color: #4D5AE5;
    --links-hover-color: #404BBF;
    --primary-white-color: #ffffff;
    --text-footer-color: #F4F4FD;
    --border-color: #e7e9fc;
    --links-hover-color-footer: #31D0AA;
    --time-function:cubic-bezier(0.4, 0, 0.2, 1);
}

/* Utilites */
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}

h1,
h2,
h3 {
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.list {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.link {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 15px;
    /* outline: 1px solid tomato; */
}

@media screen and (min-width:428px) {
   .container {
        width:428px;
   } 
}

@media screen and (min-width:768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        width: 1158px;
    }
}

.list-social .link {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 12px; */
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--links-text-color);

    transition: background-color 250ms var(--time-function);

}

.list-social .link:hover,
.list-social .link:focus {
    background-color: var(--links-hover-color);
}

/* Footer */
.footer {

    padding-top: 96px;
    padding-bottom: 96px;

    background-color: var(--title-text-color);
    color: var(--text-footer-color);
}

.footer .container{
    text-align: center;
}

.footer .text {
    width: 264px;
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.5;
}


.footer-social {
    /* margin-right: 80px; */
    margin-bottom: 72px;
}

.footer-social .title {
    color: var(--primary-white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.footer-social .link {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms var(--time-function);
}

.footer-social .link:hover,
.footer-social .link:focus {
    background-color: var(--links-hover-color-footer);
}

.subscribe .text {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 500;
    color: var(--primary-white-color);

}


.subscribe .mail {
    padding: 8px 16px;
    height: 40px;
    min-width: 100%;
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);

    background: transparent;

    border: 1px solid var(--primary-white-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscribe .mail::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
}

.subscribe .button {
    display: inline-flex; 
    align-items: center;  
    justify-content: center;
    padding: 8px 24px;
    min-width: 165px;
    
    background: var(--links-text-color);
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-white-color);
    letter-spacing: 0.04em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    
    cursor: pointer;
}

.subscribe .icon {
    margin-left: 16px;
}

@media screen and (min-width:768px) {
    .footer .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
        text-align: left;
        padding-left: 108px;
        padding-right: 108px;
    }

    .subscribe .form {
        display: flex;
        align-items: flex-start;
    }

    .footer-social {
        margin-left: 24px;
    }

    .subscribe .mail {
        width: 264px;
    }


    .subscribe .label {
        margin-right: 24px;
    }   

}

@media screen and (min-width:1158px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer .container {
        flex-wrap: nowrap;
        justify-content: center;
        padding-left: 15px;
        padding-right: 15px;

    }

    .footer-logo {
        margin: 0;
    }

    .footer-social {
        margin: 0;
        margin-left: 120px;
    }

    .footer .subscribe {
        margin-left: 96px;
    }
}

/* Portfolio */

.section.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio .filter {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.filter .item:not(:last-child) {
    margin-right: 24px;
}


.portfolio .btn {
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 12px;
    padding-right: 24px;

    background-color: var(--text-footer-color);
    color: var(--links-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 250ms var(--time-function),
                color 250ms var(--time-function),
                border-color 250ms var(--time-function),
                box-shadow 250ms var(--time-function);
}

.portfolio .btn:hover,
.portfolio .btn:focus {
    background-color: var(--links-hover-color);
    color: var(--primary-white-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 2px 1px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio .type-work {
    display: flex;
    flex-wrap: wrap;
}

.type-work .item {
    margin-right: 24px;
    margin-bottom: 48px;
    width: 31.9%;
}

.type-work .item:nth-child(3n) {
    margin-right: 0px;
}

.type-work .item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.type-work .link {
    display: block;

    transition: box-shadow 250ms var(--time-function)
}

.type-work .link:hover,
.type-work .link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* .portfolio .image {
    margin-bottom: 32px;
} */

.portfolio .subtitle {
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
    padding-right: 16px;
    border: 1px solid var(--border-color);
    border-top:none;
}
.portfolio .title {
    margin-bottom: 8px;

    letter-spacing: 0.02em;
}

.portfolio .text {
    color: var(--primary-text-color);
}

.portfolio .thumb {
    position: relative;
    overflow: hidden;
}

.portfolio .text.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;

    background-color: var(--links-text-color);
    color: var(--text-footer-color);
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* opacity: 0; */
    transform: translateY(100%);
    transition: transform 250ms var(--time-function);

}

.type-work .link:hover .text.overlay,
.type-work .link:focus .text.overlay {
    transform: translateY(0);
}


/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    padding-top: 96px;
    padding-right: 18px;
    padding-left: 18px;

    transition: opacity 250ms var(--time-function),
                visibility 250ms var(--time-function);

    overflow-y: scroll;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.modal {
    /*  */
    position: relative;

    margin-right: auto;
    margin-left: auto;

    padding-top: 72px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 24px;

    height: 586px;
    width: 396px; 

    display: block;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms var(--time-function);
}

@media screen and (min-width:768px) {
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 408px;
    }
    
}

.modal .button-close {
    position: absolute;
    top: 24px;
    right: 24px;

    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--border-color);

    cursor: pointer;

    border:1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms var(--time-function),
                border 250ms var(--time-function)
                /* color 250ms var(--time-function); */

}
.button-close .icon {
    fill:currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .button-close:hover,
.modal .button-close:focus {
    color:var(--primary-white-color);
    background-color: var(--links-hover-color);
    border:none;
}

.modal .form {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.117;
    letter-spacing: 0.04em;
}
.form .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
.form .form-field:last-child{
    margin-bottom: 16px;
}

.modal .title {
    margin-bottom: 16px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;


}

.form .form-label {
    color:#8E8F99;
    margin-bottom: 4px;
    
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;   
    letter-spacing: 0.04em;
}

.form .form-input::placeholder {
    color: rgba(46, 47, 66, 0.4);

}

.form .form-input {
    position: relative;
    display: flex;
}

.form-field.comment {
    margin-bottom: 16px;
}

.form-field .input{
    height: 40px;
    width: 100%;
    padding: 8px 16px 8px 38px;

    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;

    transition: border-color 250ms var(--time-function);
}

.form-field .input:focus {
    border-color: var(--links-text-color);
}

.form .form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    fill:var(--title-text-color);
    transition: fill 250ms var(--time-function);
}

.form-field .input:focus+.form-icon {
    fill: var(--links-text-color);
}

.form .textarea {
    height: 120px;
    resize: none;
    padding-left: 16px;

    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

    transition: border-color 250ms var(--time-function);    
}

.form .accept {
    margin-bottom: 24px;
    color: #8E8F99;
}

.accept .label {
    /* display: flex;
    align-items: center; */

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: #8E8F99;
    /* outline: 1px solid teal; */
}

.accept .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--title-text-color);
    border-radius: 2px;

    fill:transparent;

}

.visually-hidden {
    -webkit-appearance: none;
        /* remove default appearance on Webkit-based browsers */
    -moz-appearance: none;
        /* remove default appearance on Mozilla-based browsers */
    appearance: none;
    /* remove default appearance on all other browsers */
}

.checkbox:checked + .label .icon {
    background-color: var(--links-hover-color);
    border: none;
    fill: var(--primary-white-color);
    border-color: var(--links-hover-color);

}

.accept .link {
    color: var(--links-text-color)
}

.modal .submit {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;

    background: var(--links-text-color);

    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:none;

    cursor: pointer;

    transition: background-color 250ms var(--time-function);

}

.modal .submit:hover,
.modal .submit:focus {
    background-color: var(--links-hover-color);
}

